
.movie__favButton{
    background-color: rgb(103,116,236);
}

.movie__watchButton{
    background-color: rgb(66, 244, 110);
}

.movie__favButton_delete{
    background-color: rgb(223,141,33);
}

.movie__watchButton_delete{
    background-color: rgb(223,141,33);
}
